<template>

    <div>
        <Navbar />
        

        <div class="container-fluid  content-container">
            <div class="row">

                <div class="col-12 mt-5 mb-5">

                    <h1 class="title mb-4">Clientes</h1>

                    <div class="row mb-4">
                        <div class="col-12 col-lg-2 col-md-3">
                            <input type="date" class="form-control" placeholder="De">
                        </div>
                        <div class="col-12 col-lg-2 col-md-3">
                            <input type="date" class="form-control" placeholder="Até">
                        </div>
                        <div class="col-12 col-lg-3 col-md-4">
                            <input type="text" class="form-control" placeholder="Nome Cliente">
                        </div>
                        <div class="col-12 col-lg-3 col-md-4">
                            <input type="text" class="form-control" placeholder="CPF">
                        </div>
                        <div class="col-12 col-lg-2 col-md-2">
                            <button class="btn btn-primary text-white"><i class="fas fa-search"></i> Buscar</button>
                        </div>
                    </div>

                    <div class="shadow-lg p-3 bg-white rounded">
                        <div class="w-100 mb-4 text-right">
                            <button class="btn btn-success" @click="resetModal()" data-toggle="modal" data-target="#teste"><i class="fas fa-plus"></i> Novo Cliente</button>
                            <modal id-modal="teste" title="Novo Cliente">

                                <div class="modal-body">

                                    <div class="form-row">
                                        <div class="col-8 mb-3">
                                        <label>Nome</label>
                                            <input type="text" class="form-control" v-model.trim="form.name" placeholder="Nome Cliente">
                                        </div>
                                        <div class="col-4 mb-3">
                                            <label>E-mail</label>
                                            <input type="text" class="form-control" v-model.trim="form.email" placeholder="E-mail">
                                        </div>
                                        <div class="col-6 mb-3">
                                            <label>Celular</label>
                                            <input type="text" class="form-control" v-model.trim="form.mobile" placeholder="Celular">
                                        </div>
                                        <div class="col-6 mb-3">
                                            <label>Telefone</label>
                                            <input type="text" class="form-control" v-model.trim="form.phone" placeholder="Telefone">
                                        </div>
                                        <div class="col-4 mb-3">
                                            <label>Data Nascimento</label>
                                            <input type="text" class="form-control" v-model.trim="form.birthdate" placeholder="Telefone">
                                        </div>
                                        <div class="col-4 mb-3">
                                            <label>CPF ou CNPJ</label>
                                            <input type="text" class="form-control" v-model.trim="form.cpf_cnpj" placeholder="CPF ou CNPJ">
                                        </div>
                                        <div class="col-4 mb-3">
                                            <label>RG</label>
                                            <input type="text" class="form-control" v-model.trim="form.rg" placeholder="rg">
                                        </div>
                                        <div class="col-3 mb-3">
                                            <label>CEP</label>
                                            <input type="text" class="form-control" v-model.trim="form.cep" placeholder="CEP">
                                        </div>
                                        <div class="col-5 mb-3">
                                            <label>Rua</label>
                                            <input type="text" class="form-control" v-model.trim="form.street" placeholder="Rua">
                                        </div>
                                        <div class="col-2 mb-3">
                                            <label>Número</label>
                                            <input type="text" class="form-control" v-model.trim="form.number" placeholder="Número">
                                        </div>
                                        <div class="col-2 mb-3">
                                            <label>Complemento</label>
                                            <input type="text" class="form-control" v-model.trim="form.complement" placeholder="Complemento">
                                        </div>
                                        <div class="col-6 mb-3">
                                            <label>Estado</label>
                                            <select class="form-control" v-model.trim="form.state">
                                                <option value="">Selecione</option>
                                            </select>
                                        </div>
                                        <div class="col-6 mb-3">
                                            <label>Município</label>
                                            <select class="form-control" v-model.trim="form.county">
                                                <option value="">Selecione</option>
                                            </select>
                                        </div>
                                        <div class="col-2 mb-3">
                                            <button class="btn btn-success" @click="submit()"><i class="fas fa-check"></i> Cadastrar</button>
                                        </div>
                                        
                                    </div>
                                </div>

                            </modal>

                        </div>

                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Nome</th>
                                        <th scope="col">E-mail</th>
                                        <th scope="col">Celular</th>
                                        <th scope="col">Telefone</th>
                                        <th scope="col">Data Nascimento</th>
                                        <th scope="col">Data Cadastro</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-if="clients.length <= 0">
                                        <td colspan="7" class="align-middle text-center">Nenhum registro encontrado</td>
                                    </tr>
                                    <tr v-else v-for="(client, indexClient) in clients" :key="client.id">
                                        <td class="align-middle">{{ client.name }}</td>
                                        <td class="align-middle">{{ client.email }}</td>
                                        <td class="align-middle">{{ client.mobile }}</td>
                                        <td class="align-middle">{{ client.phone }}</td>
                                        <td class="align-middle">{{ client.birthdate }}</td>
                                        <td class="align-middle">{{ client.created_at }}</td>
                                        <td class="align-middle"><button class="btn btn-primary btn-sm text-white" @click="showClient(indexClient)"><i class="fas fa-eye"></i></button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>

            </div>
                
        </div>

    </div>

</template>

<script>
export default {
    components:{
        Navbar: () => import('../nav/Navbar'),
        Modal: () => import('../Modal/Modal')
    },
    data(){
        return{
            clients: [],
            form:{
                name: null,
                email: null,
                mobile: null,
                phone: null,
                birthdate: null,
                cpf_cnpj: null,
                rg: null,
                cep: null,
                street: null,
                number: null,
                complement: null,
                state: null,
                county:null
            }
        }
    },
    methods:{
        submit(){
            console.log(this.form);
            $('#teste').modal('hide')
        },

        showClient(indexClient){
            this.resetModal();
            console.log(indexClient);
            $('#teste').modal('show');
        },

        resetModal(){
                this.form.name =  null;
                this.form.email =  null;
                this.form.mobile =  null;
                this.form.phone =  null;
                this.form.birthdate =  null;
                this.form.cpf_cnpj =  null;
                this.form.rg =  null;
                this.form.cep =  null;
                this.form.street =  null;
                this.form.number =  null;
                this.form.complement =  null;
                this.form.state =  null;
                this.form.county = null;
        }
    }

}
</script>

<style>


</style>