<template>
  <nav class="navbar navbar-expand-lg navbar-light shadow-sm p-3 bg-white">
            <a class="navbar-brand" href="/dashboard">
                <img src="image/logo.svg" width="120" >
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard"><i class="fas fa-tachometer-alt"></i> Dashboard<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/agenda" ><i class="fas fa-calendar-alt"></i> Minha Agenda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/clientes" ><i class="fas fa-user-tie"></i> Clientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" ><i class="fas fa-thumbs-up"></i> Relacionamento</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-list"></i> Ordem de Serviço</a>
                    </li>
                      <li class="nav-item  dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-funnel-dollar"></i> Finanças
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                            <a class="dropdown-item" href="#"><i class="fas fa-user-tie"></i> Contas a Pagar</a>

                        </div>
                    </li>
                    <li class="nav-item  dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-cogs"></i> Configurações
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                            <a class="dropdown-item" href="#"><i class="fas fa-user-tie"></i> Tipo Eventos</a>

                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item  dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user"></i> Wallace
                        </a>

                        <div class="dropdown-menu dropdown-menu-right " aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Meu Perfil</a>
                        <a class="dropdown-item" href="#">Meu Perfil</a>
                        </div>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" href="/login" ><i class="fas fa-sign-out-alt"></i> Sair</a>
                    </li>
                </ul>

            </div>

        </nav>
</template>

<script>
export default {

}
</script>

<style>

#navbarSupportedContent .active {
    background: orange;
    border-radius: 4px;
    font-weight: bold;
    color: #FFF;
}

.navbar-nav li a:hover {
    background:#E3E3E3;
    border-radius: 4px;
    color: #333;
}
</style>