@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap');


body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    height: 100vh;
}


.title {
    font-size: 1.5rem;
    font-weight: 400;
    color: #333;
}

.form-control{
    border-radius: 0 !important;
}

.content-container{
    border-left: 10px solid rgb(255, 166, 0);
    height: 100%;
    min-height: 100vh;
}