<template>

    <div>
        <Navbar />
        
        

        <div class="container-fluid  content-container">
            <div class="row">

                <div class="col-12 mt-5 mb-5">
                    <h1 class="title mb-3">
                        Compromissos
                    </h1>

                   <div class="shadow-lg p-3 bg-white rounded">
                      <FullCalendar :options="calendarOptions" />
                   </div>
                </div>

            </div>
                
        </div>

        <modal idModal="marcarAgenda" title="Compromisso">
            <div class="modal-body">
                <div class="form-row">
                    <div class="col-6 mb-3">
                        <label>Data Inicio</label>
                        <input type="date" class="form-control" v-model.trim="selectDateAgenda.date_de" placeholder="Data">
                    </div>
                    <div class="col-6 mb-3">
                        <label>Hora Inicio</label>
                        <input type="time" class="form-control" v-model.trim="selectDateAgenda.hour_de" placeholder="Hora">
                    </div>
                      <div class="col-6 mb-3">
                        
                        <label>Data Fim</label>
                        <input type="date" class="form-control" v-model.trim="selectDateAgenda.date_ate" placeholder="Data">
                    </div>
                    <div class="col-6 mb-3">
                        
                        <label>Hora Fim</label>
                        <input type="time" class="form-control" v-model.trim="selectDateAgenda.hour_ate" placeholder="Hora">
                    </div>
                    <div class="col-12 mb-3">
                        <label>Titulo</label>
                        <input type="text" class="form-control" v-model.trim="selectDateAgenda.title" placeholder="Titulo do compromisso">
                    </div>
                    <div class="col-12 mb-3">
                        <label>Descrição</label>
                        <textarea  class="form-control" rows="3" v-model.trim="selectDateAgenda.content" placeholder="Titulo do compromisso"></textarea>
                    </div>
                     <div class="col-12">
                        <button class="btn btn-success btn-sm">
                            <i class="fas fa-check"></i> Salvar
                        </button>
                         <span style="font-size:11px;">
                            OBS: Quando faltar 1 dia para que seu agendamento inicie, nós iremos avisar o seu cliente.
                        </span>

                    </div>
                </div>

            </div>
        </modal>

    </div>

</template>

<script>
import FullCalendar from '@fullcalendar/vue';
import dayGridPlugin from '@fullcalendar/daygrid';
import interactionPlugin from '@fullcalendar/interaction';
export default {
    components:{
        Navbar: () => import('../nav/Navbar'),
        Modal: () => import('../Modal/Modal'),
        FullCalendar,
    },

    data(){
        return{
            selectDateAgenda: {
                id: null,
                date_de: null,
                date_ate: null,
                hour_de: null,
                hour_ate: null,
                title: null,
                content: null,
            },

            calendarOptions: {
                headerToolbar: {
                    start: '',
                    center: 'title',
                },
                buttonText:{
                    today:    'Hoje',
                    month:    'Mês',
                    week:     'Semana',
                    day:      'Dia',
                    list:     'Lista'
                },
                height: 550,
                locale: 'pt-br',
                plugins: [ dayGridPlugin, interactionPlugin ],
                initialView: 'dayGridMonth',
                dateClick: this.handleDateClick,
                events: [
                    { title: 'event 1', date: '2021-05-15 10:05:08', id: 1, end: '2021-05-15 20:10:50', description: 'Teste aqui tetando mais'},
                    { title: 'event 2', date: '2021-05-14 10:05:08',  id: 3, end: '2021-05-14 17:10:50', description: 'teste' }
                ],
                eventClick: (info) => {

                    console.log(info.event);
                    this.selectDateAgenda.id = info.event.id;
                    this.selectDateAgenda.title = info.event.title;
                    this.selectDateAgenda.hour = null
                    this.selectDateAgenda.content = info.event.extendedProps.description;
                    this.modalMarcarAgenda();

                }
                
            }
        }
    },
    
    methods:{
        handleDateClick: function(arg) {
            this.modalMarcarAgenda(arg);
        },

        modalMarcarAgenda(date = null){

            if(this.selectDateAgenda.id == null && date != null ){
                this.selectDateAgenda.id = null;
                this.selectDateAgenda.date = null;
                this.selectDateAgenda.hour = null;
                this.selectDateAgenda.title = null;
                this.selectDateAgenda.content = null;
                this.selectDateAgenda.date = date.dateStr;
            }

            $("#marcarAgenda").modal('show');
        }
    }
}
</script>
