<template>

<!-- Modal -->
<div class="modal fade" :id="idModal" tabindex="-1" role="dialog" :aria-labelledby="idModal+`Label`" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content text-left">
        <div class="modal-header">
            <h5 class="modal-title" :id="idModal+`Label`">{{ title }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <slot></slot>
    </div>
  </div>
</div>
  
</template>

<script>
export default {
    props:['idModal', 'title'],
    mounted(){
        $('#'+this.idModal).modal({
            backdrop: 'static',
            keyboard: false,
            show: false,
        });
    }

}
</script>

<style>

</style>