<template>
    <div class="container-fluid row content-box">

        
        <div class="col-12 d-flex flex-column align-items-center ">

            <div class="box-login ">
                <span class="d-block text-center w-100"><img src="/image/logo.svg" width="280"></span>
                <span class="d-block text-center w-100"><b>Por mim você nem teria saido...</b></span>
                
                <div class="form-group mt-5 mb-4 w-100">
                    <label><b>E-mail</b></label>
                    <input v-model="form.email" type="text" class="p-4 shadow-sm form-control" name="" >
                </div>
                <div class="form-group mb-4 w-100">
                    <label><b>Senha</b></label>
                    <input v-model="form.password" type="password" class="p-4 shadow-sm form-control" name="" >
                </div>
                <div class="form-group mb-4 w-100">
                    <p class="text-right">
                        <a href="#">Esqueci minha senha</a>
                    </p>
                    <button @click="submit()" class="btn btn-lg bg-primary text-white mb-4">
                        <b>Entrar</b>
                    </button>
                    <hr />
                    <h5 class="text-center">Ainda não tem conta ?</h5>
                    <span class="d-block text-center"><a href="#">Cadastre-se agora</a></span>
                </div>


            </div>
        </div>

    </div>
</template>

<script>
export default {

    data(){
        return{
            form:{
                email: null,
                password: null,
            }
        }
    },

    methods:{
        submit(){
            console.log('send request');
            alert('send');
        }
    }

}
</script>

<style>

.content-box{
    height: 100vh;
    background: #fff;
}

.box-login{
    margin: 160px auto;
    width: 425px;
}

</style>