<template>

    <div>
        <Navbar />
        

        <div class="container-fluid  content-container">
            <div class="row">

                <div class="col-12 mt-5 mb-5">
                    <h1 class="title mb-3">
                        Dashboard
                    </h1>

                   <div class="shadow-lg p-3 bg-white rounded">
                       Aqui vai ficar nossa dashboard
                   </div>
                </div>

            </div>
                
        </div>

    </div>

</template>

<script>
export default {
    components:{
        Navbar: () => import('../nav/Navbar')
    }
}
</script>

<style>


</style>